/* CSS variables */

:root {
  --cardFromRight: #ffd788;
  --cardFromLeft: rgb(49, 131, 132);
  --rotate: rgb(114, 147, 246);
}

/* BODY*/
body {
  font-family: 'Poppins', monospace;
}

/* MAIN */
.main {
  height: 100vh;
  gap: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  max-width: 500px;
  min-width: 300px;
  border-style: solid;
  border-width: 2px;
  border-color: lightgrey;
  padding: 10px;
  border-radius: 20px;
  box-shadow: 2px 2px 7px #d3d3d3;
}

.slideInLeftCard {
  background-color: var(--cardFromLeft);
  color: whitesmoke;
  animation-name: slideInLeft;
  animation-duration: 2s;
  animation-timing-function: ease-in;
}

@keyframes slideInLeft {
  from {
    transform: translateX(-100vw);
  }
  to {
    transform: translateX(0);
  }
}

.slideInRightCard {
  background-color: var(--cardFromRight);
  animation-name: slideInRight;
  animation-duration: 2s;
  animation-timing-function: ease-in;
}

@keyframes slideInRight {
  from {
    transform: translateX(100vw);
  }
  to {
    transform: translateX(0);
  }
}

.rotateCard {
  padding: 20px;
  width: 100px;
  height: 100px;
  background-color: var(--rotate);
  animation-name: fullRotation;
  animation-duration: 2s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}

@keyframes fullRotation {
  0% {
    transform: rotate(-360deg);
  }
  //* 50% {
    transform: rotate(0);
    scale: 1;
  } *//
  100% {
    transform: rotate(360deg);
  }
}

.flexColCenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.buttonContainer {
  display: flex;
  gap: 10px;
}

.button {
  padding: 10px;
  width: 100px;
  border-radius: 40px;
  border-width: 1px;
  border-color: lightgrey;
  border-style: solid;
  box-shadow: 2px 2px 5px lightgrey;

  transition-duration: 200ms;
  transition-timing-function: ease-in;
}

.buttonColor, .buttonSize, .buttonOpacity {
  /* alternativ til å ha alt i .button*/
}

.buttonColor:hover {
  background-color: rgb(218, 110, 110);
}

.buttonSize {
  transition: 200ms ease-in;
} /* unødvendig, siden det er inkludert i .button eller funksjonen under button med alle de andre */

.buttonSize:hover {
  scale: 1.12;
}

.buttonOpacity:hover {
  opacity: 50%;
}

.card:hover {
  scale: 1.03;
  transition: 100ms ease-in;
} 